.gsi {
	font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    font-size: 16px;
    box-sizing: border-box;
}

.gsi > div {

}
.gsi > div > div {
	
}
.gsi > div > div > div {
	
}
.gsi > div > div > div > div {
	
}
.gsi > div > div > div > div > div {
	
}